html {
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}

body {
 min-height: 100%;
 background-color: OliveDrab;
 display: flex;
 min-height: 100vh;
 flex-direction: column;
}

div.nav-wrapper {
  background-color: Olive;
}

main.main {
  background-color: Ivory;
  display: flex;
  flex: 1 0 auto;
  justify-content: space-around;
  padding: 1em;

}

div.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}



.footer {
  background-color: Olive;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 6;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footerContainer {
  background-color: Olive;
}
