html {
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}

body {
 display: flex;
 min-height: 100vh;
 flex-direction: column;
}

div.nav-wrapper {
  background-color: Olive;
}

main.main {
  background-color: Ivory;
  display: flex;
  flex: 1 0 auto;
  justify-content: space-around;
  padding: 2em;
}

div.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer {
  background-color: Olive;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerContainer {
  background-color: Olive;
}
